<div id="clearance" class="sign-in">
  <div class="container">
    <div class="clearfix mt4">
      <div class="sm-show">
        <div class="col-4 mx-auto">
          <h1 class="regular">Bannerify</h1>
          <%= render partial: '/sessions/form' %>
        </div>
      </div>
      <div class="sm-hide">
        <div class="col-10 mx-auto">
          <h2 class="regular">Bannerify</h2>
          <%= render partial: '/sessions/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
