<div class="text-field">
  <%= form.label :email, class: 'block' %>
  <%= form.text_field :email, type: 'email', class: 'field light', style: 'width:100%;' %>
</div>

<div class="password-field mt1">
  <%= form.label :password, class: 'block' %>
  <%= form.password_field :password, class: 'field light', style: 'width:100%;' %>
</div>
