<% if flash.any? %>
  <div class="flashes">
    <% user_facing_flashes.each do |key, value| -%>
      <div class="bg-red white center"><p class="py2"><%= value %></p></div>
    <% end -%>
  </div>
<% end %>
